header {
  height: 85px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  width: 110px;
}
.logo__img {
  margin-right: 5px;
  width: 25px;
}
.logo__title {
  font-size: 12px;
  letter-spacing: 0.14em;
}
.nav {
  width: 432px;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.icons_header {
  width: 120px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



form {
  position: relative;
  width: 25px;
  margin: 0 auto;
  height: 25px;

    input {
    height: 25px;
    width: 0;
    padding: 0 10px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }
  input:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 2px solid #F9F0DA;
  }
  button {
    background: inherit;
    border: none;
    height: 30px;
    width: 20px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  button:before {
    content: url("../img/icons/search.svg");
    font-size: 16px;
    color: #F9F0DA;
  }
}

.likes {
  height: 20px;
  width: 20px;
  position: relative;
}
.likes__img {
position: relative;
}
.likes__count {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #E6C8B4;
  font-size: 8px;
  line-height: 12px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: -5px;
  left: 12px;
  
}
.cart {
  width: 20px;
  margin-left: 20px;
}