.intro {
  display: flex;
  padding: 0 199px 0 185px;
  height: 768px;
}
.collection {
  width: 343px;
  padding: 230px 0;
  display: flex;
  flex-direction: column;
  
}
.collection__title_first {
  font-size: 45px;
  line-height: 60px;
  margin-bottom: 16px;
}
.collection__title_second {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 39px;
}
.collection__text {
  width: 265px;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 64px;
}
.collection__btn {
  width: 205px;
  height: 64px;
  background: #444240;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
}
.watch_main {
  position: relative;

}

.watch_main__ellipse_container{
  display: flex;
  align-items: center;
  overflow: hidden;
  position: absolute;
  transform: translate(-55px, 25px);
  height: 755px;
}

.watch_main__ellipse {
  background: linear-gradient(180deg, rgba(234, 227, 212, 0) 0%, #EAE3D4 100%); 
  width: 466px;
  height: 944px;
  border-radius: 600px 0 0 600px ;
}
.watch_main__img {
  position: absolute;
  left: 150px;
}

.watch_main__notice_first {
  position: absolute;
  top: 150px;
  left: 50px;
  width: 170px;
  display: flex;

  hr {
    display: block;
    height: 1px;
    width: 50px;
    border: 0;
    border-top: 1px solid #8B8371;
    margin: 12px;
    margin-top: 8px;
  }
}



.watch_main__notice_second {
  position: absolute;
  top: 650px;
  left: 570px;
  width: 190px;
  display: flex;

  hr {
    display: block;
    height: 1px;
    width: 50px;
    border: 0;
    border-top: 1px solid #8B8371;
    margin-right: 12px;
    margin-top: 8px;
  }
}

