@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');



.container {
  max-width: 1366px;
  margin: 0 auto;
}

.wrapper {
  width: 1172px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1, h2, h3 {
  font-family: 'Playfair Display';
  font-style: normal;
}

div,p, li, a {
  font-family: 'Roboto';
  font-style: normal;
}

span {
  font-family: 'Prata', sans-serif;
  font-style: normal;
}